<!-- Infomações Sobre o Projeto Books Hard -->

<!-- Informação (Quem Somos!) -->
<h1 class="display-4 pt-3 my-4" title="Click Aqui...">
    <p class="text-primary justify-content-center text-center" *ngIf="!mostrar" (click)="mostrarTexto();">
      Quem Somos 
      <i class="material-icons">arrow_drop_down</i>
    </p>
    <p class="text-primary justify-content-center text-center" *ngIf="mostrar" (click)="mostrarTexto();">
      Quem Somos
      <i class="large material-icons">arrow_drop_up</i>
    </p>
</h1>

<div class="jumbotron jumbotron-fluid bg-primary text-white p-3 my-4" *ngIf="!mostrar">
    <div class="container-fluid">
      <div class="row">
      <div class="col-2 p-3">
          <img src="https://rb-br.github.io/API-Imagens.github.io/Site-Books-Hard/diversos/imgs-sobre-site/logo_ADSV.png" style="max-width: 210px;" class="rounded mx-auto d-none d-lg-block" alt="...">
      </div>
            
      <div class="col-8 text-center">
        <h4 class="p-3">
            Somos uma dupla formada por integrantes do curso de Analise e Desenvolvimento de Sistemas,
            e decidimos criar este projeto chamado Books Hard. 
            Visando atender a todo e qualquer público apaixonado por livros.
            Temos como visão sermos reconhecidos pela qualidade de nossos materiais e no trabalho oferecido,
            assim como a excelência em atendimento aos usuários finais.
        </h4>
      </div>

      <div class="col-2 p-3">
          <img src="https://rb-br.github.io/API-Imagens.github.io/Site-Books-Hard/diversos/imgs-sobre-site/emoji-livros-png-1.png" style="max-width: 180px;" class="rounded mx-auto d-none d-lg-block" alt="...">
      </div>

      </div>
    </div>
</div>



<!-- Informação (Como Fazemos!) -->
<h1 class="display-4 pt-3 my-4" title="Click Aqui...">
    <p class="text-success justify-content-center text-center" *ngIf="!mostrar2" (click)="mostrarTexto2();">
      Como Fazemos
      <i class="material-icons">arrow_drop_down</i>
    </p>
    <p class="text-success justify-content-center text-center" *ngIf="mostrar2" (click)="mostrarTexto2();">
      Como Fazemos
      <i class="large material-icons">arrow_drop_up</i>
    </p>
</h1>
    
<div class="jumbotron jumbotron-fluid bg-success text-white p-3 my-4" *ngIf="!mostrar2">
    <div class="container-fluid">
      <div class="row">
      <div class="col-2 p-3">
        <img src="https://rb-br.github.io/API-Imagens.github.io/Site-Books-Hard/diversos/imgs-sobre-site/8e77dd6a09ce0f0a31bd7d077321dd7b-gr%20-%20fico-de-linhas-coloridas-by-vexels.png" style="max-width: 220px;" class="rounded mx-auto d-none d-lg-block" alt="...">
      </div>

      <div class="col-8 text-center">
        <h4 class="p-3">
            Trabalhamos com ótimos colaboradores, que prestam um trabalho de qualidade e eficiência.
            Pois queremos fazer a diferença para todos os nossos queridos leitores, que tanto amamos.
            Para isso trabalhamos para ser uma alternativa viável e confiável na prestação desse serviço,
            tendo como foco principal levar o melhor conteúdo, do modo mais rápido e eficaz possível. 
            Sempre tentando trabalhar da melhor forma, para atender até mesmo os leitores mais Críticos e Insaciáveis.
        </h4>
      </div>

      <div class="col-2 p-3">
        <img src="https://rb-br.github.io/API-Imagens.github.io/Site-Books-Hard/diversos/imgs-sobre-site/e6072cd17928df8cb445284a9172f1ca.png" style="max-width: 180px;" class="rounded mx-auto d-none d-lg-block" alt="...">
      </div>

      </div>
    </div>
</div>



<!-- Informação (Por Que Fazemos!) -->
<h1 class="display-4 pt-3 my-4" title="Click Aqui...">
    <p class="text-warning justify-content-center text-center" *ngIf="!mostrar3" (click)="mostrarTexto3();">
      Por Que Fazemos 
      <i class="material-icons">arrow_drop_down</i>
    </p>
    <p class="text-warning justify-content-center text-center" *ngIf="mostrar3" (click)="mostrarTexto3();">
      Por Que Fazemos
      <i class="large material-icons">arrow_drop_up</i>
    </p>
</h1>
        
<div class="jumbotron jumbotron-fluid bg-warning text-white p-3 my-4" *ngIf="!mostrar3">
    <div class="container-fluid">
      <div class="row">        
      <div class="col-2 p-3">
        <img src="https://rb-br.github.io/API-Imagens.github.io/Site-Books-Hard/diversos/imgs-sobre-site/8e51c1dc5404084f61be8dc33ce9e005.png" style="max-width: 200px;" class="rounded mx-auto d-none d-lg-block" alt="...">
      </div>

      <div class="col-8 text-center">
        <h4 class="p-3">
            Em nossos momentos de dificuldade nesta vida, muitas vezes,
            somos surpreendidos pela ajuda de pessoas que sequer conhecemos ou que não temos tanta familiaridade.
            Com o intuito de levar a todos livros de qualidade e de forma acessivel,
            tivermos uma grande vontade e ambição de começar com este projeto.
            Por tal motivo eu convido a você, a refletir sobre como, quando e onde pode levar seu apoio e ajudar o próximo!
            Convido a repensar seus conceitos, a praticar o altruísmo, a trabalhar o não julgamento,
            a exercitar sua empatia e compaixão e a “fazer o bem sem olhar a quem”. Permita-se!
        </h4>
      </div>

      <div class="col-2 p-3 ml-0 pl-0">
        <img src="https://rb-br.github.io/API-Imagens.github.io/Site-Books-Hard/diversos/imgs-sobre-site/179-1793444_luigi-clipart-mario-wiki-mario-and-luigi-bowsers.png" style="max-width: 150px;" class="rounded mx-auto d-none d-lg-block" alt="...">
      </div>

      </div>
    </div>
</div>



<!-- Informação (Agradecimentos!) -->
<h1 class="display-4 pt-3 my-4" title="Click Aqui...">
    <p class="text-danger justify-content-center text-center" *ngIf="!mostrar4" (click)="mostrarTexto4();">
        Agradecimentos
        <i class="material-icons">arrow_drop_down</i>
    </p>
    <p class="text-danger justify-content-center text-center" *ngIf="mostrar4" (click)="mostrarTexto4();">
        Agradecimentos
        <i class="large material-icons">arrow_drop_up</i>
    </p>
</h1>
            
<div class="jumbotron jumbotron-fluid bg-danger text-white " *ngIf="!mostrar4">
    <div class="container-fluid">
      <div class="row">
      <div class="col-12 text-center">
                  
      <h1 class="display-4">Obrigado por visitar nossa pagina!</h1>
      <p class="lead">Estamos felizes por telo conosco.</p>
      <h6 class="pt-4 mt-4">Colaboradores :</h6>
      <p class="p-0 m-0">
      <span>
      <a target="_blank" href="https://github.com/angebrito" class="text-white">Angelica Brito</a>  |  <a target="_blank" href="https://github.com/rb-br" class="text-white">Renato Bandeira</a>
      </span>
      </p>
                        
      </div>
      </div>
    </div>
</div>
