<div class="container-fluid" >

<h5>
  <p class="text-primary">Livros em Destaque:</p>
</h5>

<div class="card-columns" id="init-msg">

    <div class="card mb-3 my-3 justisfy-content-center w-100" style="max-width: 540px;" *ngFor="let livro of livros">
        <div class="row no-gutters">
          <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 ">
              <img src="{{ livro.img }}" class="img-fluid d-block" alt="..." style="width: 360px; height: 550;">
            </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 ">
            <div class="card-body">
              <h5 class="card-title h5">{{ livro.title }}</h5>
              <p class="card-text  my-0 ">Autor: {{ livro.author | transformCamelCase }}</p>
              <p class="card-text p-0 pt-0 my-1"><small class="text-info">Gênero: {{ livro.category | transformCamelCase }} </small></p>
              <p class="card-text"><small class="text-muted">Data de Publicação: {{ livro.date }} </small></p>
              <button type="button" class="btn btn-outline-success mr-2 mb-2">
                <a target="_blank" href="{{ livro.read }}" class="text-dark">Ler Online</a>
              </button>
              <button type="button" class="btn btn-outline-warning mb-2">
                <a target="_blank" href="{{ livro.pdf }}" class="text-dark"> Download</a>
              </button>
            </div>
          </div>
        </div>
    </div>
      
</div> 

</div>



