#init-msg a{
    text-decoration:none;
}

#book-results a{
    text-decoration:none;
}

.dropdown-menu a:hover{
    color: blue;
}

.dropdown-menu a:active{
    background-color: rgb(200, 200, 200);
}